#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

EPICS_HOST_ARCH=$(shell /usr/lib/epics/startup/EpicsHostArch.pl)

%:
	dh $@ --with epics -Sepicsmake -D./extensions/src/SDDS

override_dh_auto_configure:
	ln -s /usr/lib/epics/extensions/configure ./extensions/

override_dh_install:
	dh_install --fail-missing

	for ff in debian/tmp/usr/lib/epics/bin/${EPICS_HOST_ARCH}/sdds*; do \
  rm -f debian/sdds-util/usr/bin/`basename $$ff`; \
  ln -sf ../lib/epics/bin/${EPICS_HOST_ARCH}/`basename $$ff` debian/sdds-util/usr/bin/`basename $$ff`; \
  done
	#cp -r extensions/bin debian/tmp/usr/

override_dh_auto_clean:
	rm -f extensions/configure
	rm -rf ./extensions/bin ./extensions/include ./extensions/lib
	find . -name 'O.*' -type d|xargs rm -rf
