#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/utils.mk

EPICS_HOST_ARCH:=$(shell /usr/epics/base/startup/EpicsHostArch)

# chop out the source version from Changelog (ie 1.12.20)
SOV=$(shell echo "$(DEB_NOEPOCH_VERSION)"| cut -f 1 -d '-')

ENV=EPICS_HOST_ARCH=$(EPICS_HOST_ARCH)

DEB_MAKE_ENVVARS = PATH="$(CURDIR)/bin/$(EPICS_HOST_ARCH):$$PATH" \
LD_LIBRARY_PATH="$(CURDIR)/lib/$(EPICS_HOST_ARCH):$$LD_LIBRARY_PATH"

DEB_MAKE_MAKEVARS = EPICS_HOST_ARCH=$(EPICS_HOST_ARCH) USE_RPATH=NO \
SHRLIB_VERSION=$(SOV) ABS_INSTALL_DIR=/usr/epics/base

# Prevent CFLAGS and similar from being passed to EPICS since
# this will break cross-builds of things.
DEB_MAKE_INVOKE  = $(DEB_MAKE_ENVVARS) $(MAKE) -C $(DEB_BUILDDIR) $(DEB_MAKE_MAKEVARS)

post-patches:: configure

configure:
	ln -s /usr/epics/extensions/configure .

move-src: move-src-stamp

clean::
	rm -f move-src-stamp

DEB_MAKE_CLEAN_TARGET =
DEB_MAKE_BUILD_TARGET = all
DEB_MAKE_INSTALL_TARGET = all INSTALL_LOCATION=$(CURDIR)/debian/tmp/usr/epics/base
DEB_MAKE_CHECK_TARGET =

# Basic SDDS libraries
sddslibs += csa
sddslibs += fftpack
sddslibs += gd
sddslibs += gsl
sddslibs += levmar
sddslibs += matlib
sddslibs += mdbcommon
sddslibs += mdblib
sddslibs += mdbmth
sddslibs += mdbplt
sddslibs += meschach
sddslibs += namelist
sddslibs += nnetwork
sddslibs += rpnlib
sddslibs += SDDS1
sddslibs += SDDS1c

# Build Rules

binbuild=$(CURDIR)/bin/$(EPICS_HOST_ARCH)
libbuild=$(CURDIR)/lib/$(EPICS_HOST_ARCH)

common-build-arch:: build-obj-stamp

clean::
	rm -f build-obj-stamp configure
	rm -rf bin include lib/$(EPICS_HOST_ARCH)
	find . -name 'O.*' -type d|xargs rm -rf

# Install Rules

instroot=$(CURDIR)/debian/tmp
bindir=$(instroot)/usr/bin
libdir=$(instroot)/usr/lib
confdir=$(instroot)/etc
datadir=$(instroot)/usr/share/sdds
docdir=$(instroot)/usr/share/doc/sdds

epicsroot=$(instroot)/usr/epics/base
epicslibs=$(epicsroot)/lib/$(EPICS_HOST_ARCH)
epicsbins=$(epicsroot)/bin/$(EPICS_HOST_ARCH)
epicsincl=$(epicsroot)/include

install/sdds::
	install -d $(bindir)
	install -d $(libdir)/sdds
	install -d $(datadir)
	install -d $(confdir)/sdds

	install -m 755 -t $(bindir) $(epicsbins)/*
	rm -rf $(epicsbins)

	# Basic libraries go in /usr/lib
	for ff in $(sddslibs);do \
		mv $(epicslibs)/lib$$ff.so.$(SOV) $(libdir); \
		rm -f $(epicslibs)/lib$$ff.so; \
		ln -s ../../../../lib/lib$$ff.so.$(SOV) $(epicslibs)/lib$$ff.so; \
	done

